<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile look!</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>
    <h4>这是 {{user.username}} 的主页！</h4>
    <a href="/topic" class="btn btn-info">返回 topic 列表</a>
    <h5>所创建的话题：</h5>
    {% for topic in creat_topic %}
        <a href="/user/{{topic.get_author.id}}">
            <img src="/user/avatar/{{topic.get_author.path}}" style="width:35px; height:35px; border-radius: 5px">
        </a>
        <a href="/topic/detail?topic_id={{topic.topic.id}}">{{topic.topic.topic_title}}</a>
        {{  topic.pass_time  }}
        <br>
    <hr>
    {% endfor %}
    <hr>
    <h5>所参与的话题：</h5>
    {% for topic in join_topic %}
        <a href="/user/{{topic.get_author.id}}"><img src="/user/avatar/{{topic.get_author.path}}" style="width:35px; height:35px; border-radius: 5px">
        </a>
        <a href="/topic/detail?topic_id={{topic.topic._id}}">{{topic.topic.topic_title}}</a>
        {{  topic.pass_time }}

    <br>
    {% endfor %}
</body>
</html>